.split-hero-image {
  opacity: 1;
  position: relative;
}
.split-hero-image::before {
  background-color: #5469c5bb;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
