.split-hero-image {
  opacity: 1;
  position: relative;
}
.split-hero-image::before {
  background-color: #5469c5bb;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.css-2b097c-container {
  margin-top: 10px;
}
.css-yk16xz-control, .css-1pahdxg-control {
  border-radius: 10px !important;
  min-height: 49px !important;
}
.css-26l3qy-menu {
  z-index: 99 !important;
}